*.gz
*.tar
.bash_history
.bash_sessions
.cache
.composer
.config
.gitconfig
.lesshst
.my.cnf
.mysql_history
.oh-my-zsh
.php_history
.subversion
.ssh
.vim
.viminfo
.zcompdump*
.zsh_history
.zsh-update
.GoPanda2
.atom
.docker
.gitkraken
.node_repl_history
.npm
.oracle_jre_usage
.Trash
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
test
work
