.bash_history
.cache
.composer
.config
.environment.d/alcedis
.lesshst
.my.cnf
.mysql_history
.oh-my-zsh
.php_history
.ssh
.subversion/auth
.subversion/README
.subversion/servers
.vim
.viminfo
.zcompdump*
.zsh_history
.zsh-update
BACKUP
docs
secret
work
