.bash_history
.cache
.composer
.config
.environment.d/alcedis
.gitconfig
.lesshst
.my.cnf
.mysql_history
.oh-my-zsh
.php_history
.ssh
.vim
.viminfo
.zcompdump*
.zsh_history
.zsh-update
BACKUP
docs
secret
work
